* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#drum-machine {
  display: flex;
  flex-direction: column;
  width: 650px;
  align-items: center;
  margin: 3rem auto;
  border: 1px solid black;
}

#display {
  background-color: lightblue; 
  border: 1px solid black;
  height: 50px;
  width: 50%;
  margin-top: 50px;
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
}

#pads {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 25px;

}

.drum-pad {
  background-color: lightgray;
  border: 1px solid black;
  width: 150px;
  height: 150px;
  margin: 25px;
  font-size: 3rem;
  vertical-align: middle;
  text-align: center;
  line-height: 150px;
  cursor: pointer;
}